<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sailer.rider">

    <application>
        <activity
            android:name="com.sailer.rider.presentation.view.RiderActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sailer.rider.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>