<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sailer.shopping">

    <application>
        <activity
            android:name="com.sailer.shopping.presentation.view.ShoppingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.sailer.shopping.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>